[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
[submodule "vim"]
	path = vim
	url = https://github.com/DVG/dotvim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
